@font-face {
    font-family: 'JetBrainsMono';
    src: url('../assets/fonts/JetBrainsMono/JetBrainsMono[wght].ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

.sb-main-padde, .sb-show-main {
    background: #1D1E22;
}